@font-face {
  font-family: "Calluna W01 Regular";
  src: url("Fonts/942319/bbb8bf0c-7cf7-43e6-ba9b-468044f3f6dc.eot?#iefix");
  src: url("Fonts/942319/bbb8bf0c-7cf7-43e6-ba9b-468044f3f6dc.eot?#iefix") format("eot")
}

body, html, #root {
  height: 100%;
  margin: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  /* color: #CABCB0 */
  color: whitesmoke;
}

.container {
  max-width: 1300px;
}

/* width */

::-webkit-scrollbar {
  width: 10px;
}

/* Track */

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */

::-webkit-scrollbar-thumb {
  background: #676862;
  border-radius: 10px;
}

/* Handle on hover */

::-webkit-scrollbar-thumb:hover {
  background: #494948;
}

.homepageimg:hover {
  opacity: 0.9
}

/* Grey Box CSS */

.greybox {
  height: auto;
  min-height: 500px;
  padding: 100px;
  background-color: whitesmoke;
  text-align: center;
  margin-bottom:25px
}

.greybox-mission {
  height: auto;
  min-height: 500px;
  padding: 100px;
  background-color: whitesmoke;
  text-align: center;
  margin-bottom:25px
}

.greybox-whatWeDo {
  height: auto;
  min-height: 500px;
  padding: 50px 90px;
  background-color: whitesmoke;
  text-align: center;
}

.greybox-stories {
  height: auto;
  min-height: 100px;
  padding: 35px;
  background-color: whitesmoke;
  text-align: center;
  color: #555;
  font-family: 'Montserrat', sans-serif;
  font-weight: 1000;
  letter-spacing: 0.25em;
  line-height: 1.2;
  text-transform: uppercase;
  margin-bottom: 20px;
}

/* PLACEHOLDER IMAGES */
.placeholderImg-1{
  max-width:730px;
  height: auto;
  min-height: 500px;
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255,255,255,.1)), url("/images/peach-mens-1.jpg");
  background-position: center center;
  background-size: cover;
  background-color: #464646;
  margin-bottom:25px;
  transition: 1s opacity;
}

.placeholderImg-2{
  max-width:730px;
  height: auto;
  min-height: 500px;
  background: linear-gradient(rgba(255, 255, 255, 0.1), rgba(255,255,255,.1)), url("/images/storm-womens-1.jpg");
  background-position: center center;
  background-size: cover;
  background-color: #464646;
  margin-bottom:25px;
  transition: 1s opacity;
}

/* OUR HEART */

.heart {
  color: #555;
}

h1.heart {
  font-family: 'Montserrat', sans-serif;
  font-weight: 1000;
  letter-spacing: 0.25em;
  line-height: 1.2;
  text-transform: uppercase;
}

h4.heart{
  margin-top: 20px;
  margin-bottom: 20px;
}

h5.heart {
  font-family: 'Playfair Display', serif;
  font-style: italic;
}

.whatWeDo {
  color: #555;
}

h1.whatWeDo {
  font-family: 'Montserrat', sans-serif;
  font-weight: 1000;
  letter-spacing: 0.25em;
  line-height: 1.2;
  text-transform: uppercase;
}

/* Stats */

h2.stats {
  color: #555;
  margin-top: 25px;
  margin-bottom: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 42px;
  line-height: 40px;
  font-weight: 1000;
  letter-spacing: -3px;
}

h5.stats-info {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  color: #555;
}

h2.stats2 {
  color: #555;
  margin-top: 130px;
  margin-bottom: 5px;
  font-family: 'Montserrat', sans-serif;
  font-size: 42px;
  line-height: 40px;
  font-weight: 1000;
  letter-spacing: -3px;
}

h5.stats2-info {
  font-family: 'Playfair Display', serif;
  font-style: italic;
  color: #555;
}

/* Sponsorees */

.homepage-sponsoree {
  width: 100%;
}
@media (min-width: 768px) {
.sponsoreeHover {
  position: relative;
  display: inline-block;
  overflow: hidden;
  width: 100%;
  color: #fff;
  text-align: left;
  font-size: 20px;
  background: rgb(85, 85, 85, 0.6);
  /* opacity: 0.8; */
}

.sponsoreeHover *, .sponsoreeHover:before, .sponsoreeHover:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.sponsoreeHover img {
  backface-visibility: hidden;
  vertical-align: top;
}

.sponsoreeHover:before, .sponsoreeHover:after {
  position: absolute;
  top: 20px;
  right: 20px;
  content: '';
  background-color: #fff;
  z-index: 1;
  opacity: 0;
}

.sponsoreeHover:before {
  width: 0;
  height: 1px;
}

.sponsoreeHover:after {
  height: 0;
  width: 1px;
}

.sponsoreeHover figcaption {
  position: absolute;
  left: 0;
  bottom: 0;
  padding: 15px 20px;
}

.sponsoreeHover h3, .sponsoreeHover h4 {
  margin: 0;
  font-size: 1.1em;
  font-weight: normal;
  opacity: 0;
}

.sponsoreeHover h4 {
  font-size: .8em;
  font-style: italic;
  font-family: 'Montserrat', serif;
  /* text-transform: uppercase; */
}

.sponsoreeHover h3 {
  text-transform: uppercase;
}

.sponsoreeHover .lastName{
  color: #CABCB0
}
.sponsoreeHover:hover img, .sponsoreeHover.hover img {
  zoom: 1;
  filter: alpha(opacity=20);
  -webkit-opacity: 0.2;
  opacity: 0.2;
}

.sponsoreeHover:hover:before, .sponsoreeHover.hover:before, .sponsoreeHover:hover:after, .sponsoreeHover.hover:after {
  opacity: 1;
  -webkit-transition-delay: 0.25s;
  transition-delay: 0.25s;
}

.sponsoreeHover:hover:before, .sponsoreeHover.hover:before {
  width: 40px;
}

.sponsoreeHover:hover:after, .sponsoreeHover.hover:after {
  height: 40px;
}

.sponsoreeHover:hover h3, .sponsoreeHover.hover h3, .sponsoreeHover:hover h4, .sponsoreeHover.hover h4 {
  opacity: 1;
}

.sponsoreeHover:hover h3, .sponsoreeHover.hover h3 {
  -webkit-transition-delay: 0.3s;
  transition-delay: 0.3s;
}

.sponsoreeHover:hover h4, .sponsoreeHover.hover h4 {
  -webkit-transition-delay: 0.35s;
  transition-delay: 0.35s;
}
}

@media (max-width: 767px) {
  .sponsoreeHover {
    position: relative;
    display: inline-block;
    overflow: hidden;
    width: 100%;
    color: #fff;
    text-align: left;
    font-size: 20px;
  }
  
  .sponsoreeHover figcaption {
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 15px 20px;
  }
  
  .sponsoreeHover h3, .sponsoreeHover h4 {
    margin: 0;
    font-size: 1.1em;
    font-weight: normal;
    opacity: 0;
  }
  
  .sponsoreeHover h4 {
    font-size: .8em;
    font-style: italic;
    font-family: 'Montserrat', serif;
  }
  
  .sponsoreeHover h3 {
    text-transform: uppercase;
    color: whitesmoke !important;
  }
  
  .sponsoreeHover:before, .sponsoreeHover:before, .sponsoreeHover:after, .sponsoreeHover:after {
    opacity: 1;
  }
  
  .sponsoreeHover:before, .sponsoreeHover:before {
    width: 40px;
  }
  
  .sponsoreeHover:after, .sponsoreeHover:after {
    height: 40px;
  }
  
  .sponsoreeHover h3, .sponsoreeHover h3, .sponsoreeHoverh4, .sponsoreeHover h4 {
    opacity: 1;
  }
  }
/* Founders */
.homepage-founder{
  width: 100%;
  border-radius: 50%;
  margin-top:60px;
  padding-left: 5px;
  padding-right: 5px;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

.founder .homepage-founder:hover{
  -webkit-transform: scale(1.04);
  transform: scale(1.04);
}


.founder h2{
  color: #555;
  font-family: 'Montserrat', sans-serif;
  /* font-size: 42px; */
  /* line-height: 40px; */
  font-weight: 1000;
  letter-spacing: -3px;
}
.founder h5{
  color: #555;
  font-style: italic;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px
}
.founder h6{
  color: #555;
  font-family: 'Montserrat', sans-serif;
}

/* DONATE BTN */

.donateBtn {
  position: relative;
  font-family: 'Montserrat', sans-serif;
  font-weight: 1000;
  letter-spacing: 0.2em;
  line-height: 1.2;
  text-transform: uppercase;
  border-radius: 4px;
  color: #555;
  border: 1px #555 solid;
  margin-top:5px;
  background: none;
  z-index: 1;
  cursor: pointer;
  transition:         0.08s ease-in;
  -o-transition:      0.08s ease-in;
  -ms-transition:     0.08s ease-in;
  -moz-transition:    0.08s ease-in;
  -webkit-transition: 0.08s ease-in;
}

.donateBtn:hover {
  color: whitesmoke;
  border: 1px #CABCB0 solid;
}

.donateBtn:hover:before {
  top: 0;
}

.donateBtn:before {
  content: "";
  position: absolute;
  background: #CABCB0;
  bottom: 0;
  left: 0;
  right: 0;
  top: 100%;
  z-index: -1;
  -webkit-transition: top 0.09s ease-in;
  transition: top 0.09s ease-in;
}

/* MEDIA QUERIES */

@media (max-width: 959px) {
  h1.whatWeDo {
    letter-spacing: 0.10em;
  }
}

@media (max-width: 1280px){
  .greybox-mission {
    height: auto;
    min-height: 500px;
    padding-top: 100px;
    padding-right: 30px;
    padding-left: 30px
  }
  .greybox {
    height: auto;
    min-height: 500px;
    padding-top: 100px;
    padding-right: 30px;
    padding-left: 30px
  }
}

@media (max-width: 1200px) {
  .greybox-whatWeDo {
    height: auto;
    min-height: 500px;
    padding-top: 50px;
    padding-right: 30px;
    padding-left: 30px
  }
}

@media (max-width: 1000px) {
  .greybox {
    height: auto;
    max-height: 500px;
    padding-top: 75px;
    padding-right: 20px;
    padding-left: 20px
  }
  .greybox-mission {
    max-height: 500px;
  }
}

@media (max-width: 876px) {
  .greybox-whatWeDo {
    height: auto;
    min-height: 500px;
    padding-top: 30px;
    padding-right: 10px;
    padding-left: 10px
  }
  .greybox-mission {
    height: auto;
    min-height: 500px;
    padding-top: 100px;
    padding-right: 10px;
    padding-left: 10px
  }
  .greybox {
    height: auto;
    min-height: 500px;
    padding-top: 100px;
    padding-right: 5px;
    padding-left: 5px
  }
}

@media (max-width: 767px) {
  .greybox-whatWeDo {
    height: auto;
    min-height: 300px;
    margin-top: 0px;
    padding: 20px;
  }
  .greybox {
    height: auto;
    min-height: 300px;
    margin-top: 0px;
    padding: 50px 20px;
  }
  .greybox-mission {
    height: auto;
    min-height: 300px;
    margin-top: 0px;
    padding: 50px 20px;
  }
  .placeholderImg-2{
    display:none
  }
  h2.stats2 {
    margin-top: 50px;
  }
  h1.whatWeDo {
    letter-spacing: 0.25em;
    font-size: 2.2rem;
  }
  .homepage-founder{
    margin-top: 25px
  }
  .founder h6{
    font-size:15px
  }
  .founder h6{
    font-size:14px
  }
}